@model ShopBridge.Models.tbl_shop

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Shop", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)


<fieldset>
    <legend>Product Details</legend>

    <table class="table">
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </th>
            <th>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Price_)
                </div>
            </th>
            <th>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Price_)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Descreption)
                </div>
            </th>
            <th>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Descreption)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Imagepath)
                </div>
            </th>
            @* <div class="display-field">
        @Html.DisplayFor(model => model.Imagepath)
    </div>*@
            <th>
                <div class="display-field">
                    @*<img src="@Url.Content(Model.Imagepath)" alt="image" />*@
                    <img src="~/Images/220px-Buddha_in_Sarnath_Museum_(Dhammajak_Mutra).jpg" style="height:200px; width:200px;"/>
                </div>
            </th>
        </tr>
    </table>
</fieldset>
}
<p>
   <div>
    @Html.ActionLink("Shop", "Shop")
</div>
    </p>

</p>
